NEXT_PUBLIC_API_URL="<API_URL>"
NEXT_PUBLIC_KEY_PUSHER="<KEY_PUSHER>"
NEXT_PUBLIC_CLUSTER_PUSHER="<CLUSTER_PUSHER>"

# server
CLOUDINARY_NAME="<CLOUDINARY_NAME>"
CLOUDINARY_API_KEY="<CLOUDINARY_API_KEY>"
CLOUDINARY_API_SECRET="<CLOUDINARY_API_SECRET>"

# open IA
OPENAI_API_KEY=<OPENAI_API_KEY>
OPEN_IA_MODEL=<OPEN_IA_MODEL>
